<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Create a blog</title>
  </head>
  <body>
    <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold">
        <i>Create a blog</i>
      </h1>
    </div>

    <form
      action="<%= locals.action %>"
      method="POST"
      autocomplete="off"
      class="add-form"
    >
      <div class="form-group my-4">
        <label for="blogTitle">Title</label>
        <input
          type="text"
          class="form-control"
          id="blogTitle"
          name="blogTitle"
          aria-describedby="blogTitle"
          value="<%= locals.existingTitle || '' %>"
          placeholder="<%= locals.titlePlaceholder %>"
        />
      </div>
      <div class="form-group">
        <label for="blogContent">Content</label>
        <textarea
          class="form-control"
          id="blogContent"
          name="blogContent"
          rows="8"
          placeholder="<%= locals.contentPlaceholder %>"
        >
<% if(existingContent) {%><%= existingContent %><%} %></textarea
        >
      </div>
      <button type="submit" class="btn btn-dark my-4">Submit</button>
    </form>
  </body>
</html>
